.topBlock .filterTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}
.block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.block .filterTag {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.bottomBlocks {
  display: flex;
  flex-direction: column;
}
.forCentr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forCentr button {
  max-width: 168px;
  width: 100%;
  height: 30px;
  background: #7e5bc2;
  border-radius: 10px;
  margin: 20px 0;
}
.forCentr button:hover {
  background: #623dac;
}
