.footer {
  background: #151515;
  height: 22vh;
}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.footer .container {
  padding: 40px 0px;
  flex-direction: column;
  gap: 40px;
}
.logoBlock {
  display: flex;
  align-items: center;
}
.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.profileLink,
.favoritesLink {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 390px) {
  .footer .container {
    padding: 30px 0px;
    gap: 30px;
  }
}
@media (max-width: 280px) {
  .footer .container {
    padding: 20px 0px;
    gap: 25px;
  }
}