.container {
  max-width: 30%;
  margin: 10% auto;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  padding: 25px 50px;
}
.logo {
  padding: 7px 35px;
  background: #ff47ca;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.nickEnt,
.passEnt {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
  gap: 30px;
}
.nickEnt {
  margin-top: 37px;
}
.forCentr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forCentr button {
  max-width: 168px;
  width: 100%;
  height: 30px;
  background: #7e5bc2;
  border-radius: 10px;
  margin: 20px 0;
}
.forCentr button:hover {
  background: #623dac;
}
.container .noAccLabel {
  text-align: center;
  color: #5a5a5a;
  font-size: 12px;
}
.container .regLink {
  font-size: 12px;
  margin-left: 5px;
}
@media (max-width: 1400px) {
  .container {
    max-width: 40%;
  }
}
@media (max-width: 1050px) {
  .container {
    max-width: 50%;
  }
}
@media (max-width: 840px) {
  .container {
    max-width: 60%;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 80%;
  }
}
@media (max-width: 525px) {
  .container {
    max-width: 95%;
    margin: 10% 2%;
  }
  .nickEnt,
  .passEnt {
    flex-direction: column;
    gap: 0;
  }
  p {
    text-align: left;
  }
}
